[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/lvntbkdmr/hyde
[submodule "themes/spectre-pixel-theme"]
	path = themes/spectre-pixel-theme
	url = https://github.com/st-wong/hugo-spectre-pixel-theme.git
