[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/lvntbkdmr/hyde
[submodule "themes/spectre-pixel"]
	path = themes/spectre-pixel
	url = https://github.com/lvntbkdmr/hugo-spectre-pixel-theme
